### **Install Dependencies**

In [3]:
# %pip install -r requirements.txt

### **Actual Scraping**

In [1]:
from ExtractMatchData._functions.get_matches_url import get_matches_url
from ExtractMatchData._functions.get_match_id import get_match_ids
from ExtractMatchData._functions.get_request import get_request
from ExtractMatchData._functions.download_files import download_files
from ExtractMatchData._functions.unrar import unrar
from ExtractMatchData._functions.extrair_dados import run_csda_on_demos
from ExtractMatchData._ETL.merge_files import merge_csv_files
from ExtractMatchData._functions.chromelib import pd
import os

# # -------------------------------------------------------------------------
# #   The ID of each event can be found in HLTV in either of the links below
# #   For example: 
# #   https://www.hltv.org/events/7909/blast-bounty-2025-season-1-finals
# #   https://www.hltv.org/results?event=7909
# # -------------------------------------------------------------------------

# # id_event = [ 7909, 8034, 7909 ]
# # id_event = [ 7909 ]
# id_event = [ 8034, 7909, 7903, 7524 ]

id_event = [7904, 8292, 8034, 7909, 7903, 7524, 7865, 7557, 7556, 7441, 7993, 7436, 7554, 7732, 7485, 7438, 7755, 7148, 7553, 7577, 7435, 7551, 7552, 7499]

root = os.path.join(os.getcwd(), 'ExtractMatchData') # Get the root directory

# Gets the URLs from all the matches in the event and other info into a pandas dataframe
tournaments_df = get_matches_url(*id_event, root=root)

# Get an ID for each match used in a url
tournaments_df = get_match_ids(tournaments_df)

# Makes a get request to fetch the direct links to download the demos
tournaments_df = get_request(tournaments_df)

# Makes the request to fetch the direct link to download the demos
tournaments_df = download_files(tournaments_df)

# Unzips the demos
unrar(tournaments_df)

# Runs csda on the demos
tournaments_df = run_csda_on_demos(tournaments_df)

# Merges the csv files
match_data = merge_csv_files(tournaments_df)

matches_df = match_data['_match']
teams_df = match_data['_teams']
kills_df = match_data['_kills']
players_df = match_data['_players']
players_economy_df = match_data['_players_economy']
clutches_df = match_data['_clutches']

tournaments_df.rename(columns={'url': 'url_match'}, inplace=True)
players_df.rename(columns={'hs_%': 'hs_percentage', '1k' : 'k_1', '2k' : 'k_2', '3k' : 'k_3', '4k' : 'k_4', '5k' : 'k_5'  }, inplace=True)

output_dir = os.path.join(os.getcwd(), "ExtractMatchData" ,"tournaments_tables")
os.makedirs(output_dir, exist_ok=True)

dataframes = {
    'tournaments': tournaments_df,
    'matches': matches_df,
    'teams': teams_df, 
    'kills': kills_df,
    'players': players_df,
    'players_economy': players_economy_df,
    'clutches': clutches_df
}

for name, df in dataframes.items():
    print(f"\n{name}:")
    display(df.head(5))
    output_path = os.path.join(output_dir, f"{name}.csv")
    df.to_csv(output_path, index=False)
    print(f"Saved {output_path}")

---------------------------------------------
       MATCHUPS CAN BE Bo1, Bo3 or Bo5
---------------------------------------------

Event: BLAST Open Lisbon 2025
Number of matchups: 25

Event: ESL Pro League Season 21
Number of matchups: 40

Event: IEM Katowice 2025
Number of matchups: 29

Event: BLAST Bounty 2025 Season 1 Finals
Number of matchups: 7

Event: BLAST Bounty 2025 Season 1
Number of matchups: 24

Event: Perfect World Shanghai Major 2024
Number of matchups: 40

Event: Perfect World Shanghai Major 2024 Europe RMR B
Number of matchups: 34

Event: BLAST Premier World Final 2024
Number of matchups: 13

Event: BLAST Premier Fall Final 2024
Number of matchups: 13

Event: ESL Pro League Season 20
Number of matchups: 79

Event: BetBoom Dacha Belgrade Season 2
Number of matchups: 14

Event: IEM Cologne 2024
Number of matchups: 29

Event: BLAST Premier Fall Groups 2024
Number of matchups: 26

Event: Esports World Cup 2024
Number of matchups: 21

Event: BLAST Premier Spring Final 2024
Number of matchups: 13

Event: IEM Dallas 2024
Number of matchups: 29

Event: BetBoom Dacha Belgrade 2024
Number of matchups: 13

Event: PGL CS2 Major Copenhagen 2024
Number of matchups: 40

Event: BLAST Premier Spring Showdown 2024
Number of matchups: 14

Event: PGL CS2 Major Copenhagen 2024 Europe RMR B
Number of matchups: 33

Event: IEM Katowice 2024
Number of matchups: 29

Event: IEM Katowice 2024 Play-in
Number of matchups: 20

Event: BLAST Premier Spring Groups 2024
Number of matchups: 26

Event: BetBoom Dacha 2023
Number of matchups: 13


Total number of matchups: 624
---------------------------------------------

Fetching Match IDs : 100%|███████████████████████████████████████████████████████| 624/624 [2:31:02]
Downloading .rar   : 100%|███████████████████████████████████████████████████████| 624/624 [1:04:29]
Exctracting .rar   : 100%|█████████████████████████████████████████████████████████| 624/624 [48:30]

---------------------------------------------

Processing BLAST Bounty 2025 Season 1: 100%|█████████████████████████████████████████| 57/57 [10:11]
Processing BLAST Bounty 2025 Season 1 Finals: 100%|██████████████████████████████████| 18/18 [03:16]
Processing BLAST Open Lisbon 2025: 100%|█████████████████████████████████████████████| 57/57 [10:30]
Processing BLAST Premier Fall Final 2024: 100%|██████████████████████████████████████| 35/35 [06:32]
Processing BLAST Premier Fall Groups 2024: 100%|█████████████████████████████████████| 58/58 [10:59]
Processing BLAST Premier Spring Final 2024: 100%|████████████████████████████████████| 34/34 [06:21]
Processing BLAST Premier Spring Groups 2024: 100%|███████████████████████████████████| 58/58 [10:30]
Processing BLAST Premier Spring Showdown 2024: 100%|█████████████████████████████████| 34/34 [06:22]
Processing BLAST Premier World Final 2024: 100%|█████████████████████████████████████| 32/32 [06:16]
Processing BetBoom Dacha 2023: 100%|█████████████████████████████████████████████████| 32/32 [05:15]
Processing BetBoom Dacha Belgrade 2024: 100%|████████████████████████████████████████| 32/32 [05:51]
Processing BetBoom Dacha Belgrade Season 2: 100%|████████████████████████████████████| 34/34 [06:03]
Processing ESL Pro League Season 20: 100%|█████████████████████████████████████████| 196/196 [32:08]
Processing ESL Pro League Season 21: 100%|█████████████████████████████████████████| 104/104 [17:04]
Processing Esports World Cup 2024: 100%|█████████████████████████████████████████████| 45/45 [07:22]
Processing IEM Cologne 2024: 100%|███████████████████████████████████████████████████| 76/76 [12:58]
Processing IEM Dallas 2024: 100%|████████████████████████████████████████████████████| 62/62 [09:57]
Processing IEM Katowice 2024: 100%|██████████████████████████████████████████████████| 76/76 [11:57]
Processing IEM Katowice 2024 Play-in: 100%|██████████████████████████████████████████| 41/41 [06:27]
Processing IEM Katowice 2025: 100%|██████████████████████████████████████████████████| 87/87 [12:24]
Processing PGL CS2 Major Copenhagen 2024: 100%|██████████████████████████████████████| 73/73 [13:25]
Processing PGL CS2 Major Copenhagen 2024 Europe RMR B: 100%|█████████████████████████| 53/53 [10:08]
Processing Perfect World Shanghai Major 2024: 100%|██████████████████████████████████| 72/72 [11:19]
Processing Perfect World Shanghai Major 2024 Europe RMR B: 100%|█████████████████████| 57/57 [08:50]
c:\Projects\cs2-match-and-player-scraper\ExtractMatchData\_ETL\merge_files.py:34: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  merged_df = pd.concat(dfs, ignore_index=True)

tournaments:

,url_match,url_event,tournament,nspc_tournament,match_id,match_format,match_date,team_1,team_1_result,team_2,team_2_result,event_id,demo_path,output_data_path,unique_name
0,https://www.hltv.org/matches/2380131/mouz-vs-g...,https://www.hltv.org/results?event=7904,BLAST Open Lisbon 2025,blast-open-lisbon-2025,95789,Bo3,2025-03-28,MOUZ,2,G2,0,7904,c:\Projects\cs2-match-and-player-scraper\Extra...,c:\Projects\cs2-match-and-player-scraper\Extra...,vitality-vs-virtus-pro-m2-inferno_blast-open-l...
1,https://www.hltv.org/matches/2380129/the-mongo...,https://www.hltv.org/results?event=7904,BLAST Open Lisbon 2025,blast-open-lisbon-2025,95596,Bo3,2025-03-24,The MongolZ,0,G2,2,7904,c:\Projects\cs2-match-and-player-scraper\Extra...,c:\Projects\cs2-match-and-player-scraper\Extra...,vitality-vs-virtus-pro-m2-inferno_blast-open-l...
2,https://www.hltv.org/matches/2380128/eternal-f...,https://www.hltv.org/results?event=7904,BLAST Open Lisbon 2025,blast-open-lisbon-2025,95592,Bo3,2025-03-24,Eternal Fire,2,Natus Vincere,0,7904,c:\Projects\cs2-match-and-player-scraper\Extra...,c:\Projects\cs2-match-and-player-scraper\Extra...,vitality-vs-virtus-pro-m2-inferno_blast-open-l...
3,https://www.hltv.org/matches/2380127/virtuspro...,https://www.hltv.org/results?event=7904,BLAST Open Lisbon 2025,blast-open-lisbon-2025,95582,Bo3,2025-03-24,Virtus.pro,0,Spirit,2,7904,c:\Projects\cs2-match-and-player-scraper\Extra...,c:\Projects\cs2-match-and-player-scraper\Extra...,vitality-vs-virtus-pro-m2-inferno_blast-open-l...
4,https://www.hltv.org/matches/2380126/mouz-vs-v...,https://www.hltv.org/results?event=7904,BLAST Open Lisbon 2025,blast-open-lisbon-2025,95575,Bo3,2025-03-24,MOUZ,0,Vitality,2,7904,c:\Projects\cs2-match-and-player-scraper\Extra...,c:\Projects\cs2-match-and-player-scraper\Extra...,vitality-vs-virtus-pro-m2-inferno_blast-open-l...

Saved c:\Projects\cs2-match-and-player-scraper\ExtractMatchData\tournaments_tables\tournaments.csv

matches:

,checksum,demo_name,date,source,map,kill_count,assist_count,death_count,tournament,match_id,unique_name
0,1229e6b33a7c388f,3dmax-vs-heroic-m1-ancient,2025-01-14,esl,de_ancient,207,68,208,BLAST Bounty 2025 Season 1,93435,3dmax-vs-heroic-m1-ancient_blast-bounty-2025-s...
1,409bde782d701247,3dmax-vs-heroic-m2-dust2,2025-01-14,esl,de_dust2,155,53,155,BLAST Bounty 2025 Season 1,93435,3dmax-vs-heroic-m2-dust2_blast-bounty-2025-sea...
2,c92c0fe937a29b0e,3dmax-vs-heroic-m3-anubis,2025-01-14,esl,de_anubis,138,51,138,BLAST Bounty 2025 Season 1,93435,3dmax-vs-heroic-m3-anubis_blast-bounty-2025-se...
3,e404f30b9dc3e185,astralis-vs-natus-vincere-m1-inferno,2025-01-18,esl,de_inferno,172,72,176,BLAST Bounty 2025 Season 1,93435,astralis-vs-natus-vincere-m1-inferno_blast-bou...
4,339f817fc0609ea4,astralis-vs-natus-vincere-m2-ancient,2025-01-18,esl,de_ancient,117,51,121,BLAST Bounty 2025 Season 1,93435,astralis-vs-natus-vincere-m2-ancient_blast-bou...

Saved c:\Projects\cs2-match-and-player-scraper\ExtractMatchData\tournaments_tables\matches.csv

teams:

     name team    match_checksum                  tournament
0   3DMAX    A  1229e6b33a7c388f  BLAST Bounty 2025 Season 1
1  HEROIC    B  1229e6b33a7c388f  BLAST Bounty 2025 Season 1
2  Team A    A  409bde782d701247  BLAST Bounty 2025 Season 1
3  Team B    B  409bde782d701247  BLAST Bounty 2025 Season 1
4  HEROIC    A  c92c0fe937a29b0e  BLAST Bounty 2025 Season 1

Saved c:\Projects\cs2-match-and-player-scraper\ExtractMatchData\tournaments_tables\teams.csv

kills:

,round,killer_name,killer_steamid,killer_team_name,victim_name,victim_steamid,victim_side,victim_team_name,weapon_name,headshot,victim_x,victim_y,victim_z,is_trade_kill,match_checksum,tournament
0,1,Graviti,76561198179538505,3DMAX,Graviti,76561198179538505,3,3DMAX,World,0,-352.000000,1728.000000,28.813251,0,1229e6b33a7c388f,BLAST Bounty 2025 Season 1
1,1,Djoko,76561198047876970,3DMAX,yxngstxr,76561199137143905,2,HEROIC,USP-S,1,-904.857178,-695.348022,39.976067,0,1229e6b33a7c388f,BLAST Bounty 2025 Season 1
2,1,xfl0ud,76561198178209109,HEROIC,Ex3rcice,76561198168198200,3,3DMAX,Glock-18,1,-1433.964111,340.267883,89.490128,0,1229e6b33a7c388f,BLAST Bounty 2025 Season 1
3,1,Djoko,76561198047876970,3DMAX,xfl0ud,76561198178209109,2,HEROIC,USP-S,1,-1401.340576,27.788496,103.031258,1,1229e6b33a7c388f,BLAST Bounty 2025 Season 1
4,1,SunPayus,76561198309839541,HEROIC,Maka,76561198045739761,3,3DMAX,Glock-18,0,-905.277954,-215.343750,97.031250,0,1229e6b33a7c388f,BLAST Bounty 2025 Season 1

Saved c:\Projects\cs2-match-and-player-scraper\ExtractMatchData\tournaments_tables\kills.csv

players:

,name,steamid,team_name,kills,assists,deaths,headshots,hs_percentage,kd,kast,...,k_1,k_2,k_3,k_4,k_5,htlv_2,htlv,crosshair_share_code,match_checksum,tournament
0,LNZ,76561198104626893,HEROIC,24,3,21,10,41,1.142857,76.666664,...,9,3,3,0,0,1.181409,1.145778,CSGO-BkLsj-3EeOH-QW5yu-vwvph-u6GSQ,1229e6b33a7c388f,BLAST Bounty 2025 Season 1
1,Djoko,76561198047876970,3DMAX,17,6,21,8,47,0.809524,70.000000,...,6,4,1,0,0,0.906680,0.854152,CSGO-oNmvB-ONbiV-fBONR-LFQh2-8bBAA,1229e6b33a7c388f,BLAST Bounty 2025 Season 1
2,Ex3rcice,76561198168198200,3DMAX,26,1,20,13,50,1.300000,76.666664,...,9,5,1,1,0,1.296233,1.267410,CSGO-T7fdk-iaJou-k3G8Y-rxZrx-DOQNN,1229e6b33a7c388f,BLAST Bounty 2025 Season 1
3,SunPayus,76561198309839541,HEROIC,10,12,21,4,40,0.476190,80.000000,...,8,1,0,0,0,0.760593,0.543190,CSGO-qahFh-KZEFk-UxyQH-wViqJ-TpNkO,1229e6b33a7c388f,BLAST Bounty 2025 Season 1
4,yxngstxr,76561199137143905,HEROIC,27,8,22,13,48,1.227273,70.000000,...,5,8,2,0,0,1.294710,1.240737,CSGO-KcJwN-LOLY7-tfLiZ-hx9Ju-rqnkP,1229e6b33a7c388f,BLAST Bounty 2025 Season 1

Saved c:\Projects\cs2-match-and-player-scraper\ExtractMatchData\tournaments_tables\players.csv

players_economy:

,steamid,name,player_side,equipment_value,type,round,match_checksum,tournament
0,76561198168198200,Ex3rcice,3,850,pistol,1,1229e6b33a7c388f,BLAST Bounty 2025 Season 1
1,76561198309839541,SunPayus,2,1050,pistol,1,1229e6b33a7c388f,BLAST Bounty 2025 Season 1
2,76561199137143905,yxngstxr,2,850,pistol,1,1229e6b33a7c388f,BLAST Bounty 2025 Season 1
3,76561198045739761,Maka,3,950,pistol,1,1229e6b33a7c388f,BLAST Bounty 2025 Season 1
4,76561198047876970,Djoko,3,850,pistol,1,1229e6b33a7c388f,BLAST Bounty 2025 Season 1

Saved c:\Projects\cs2-match-and-player-scraper\ExtractMatchData\tournaments_tables\players_economy.csv

clutches:

,round,won,steamid,name,survived,kill_count,match_checksum,tournament
0,1,0,76561198179538505,Graviti,0,1,1229e6b33a7c388f,BLAST Bounty 2025 Season 1
1,1,1,76561198872013168,tN1R,1,1,1229e6b33a7c388f,BLAST Bounty 2025 Season 1
2,3,0,76561198031890115,Lucky,0,1,1229e6b33a7c388f,BLAST Bounty 2025 Season 1
3,3,1,76561198104626893,LNZ,1,1,1229e6b33a7c388f,BLAST Bounty 2025 Season 1
4,4,1,76561199137143905,yxngstxr,1,1,1229e6b33a7c388f,BLAST Bounty 2025 Season 1

Saved c:\Projects\cs2-match-and-player-scraper\ExtractMatchData\tournaments_tables\clutches.csv

In [2]:
import os
import pandas as pd
# Get list of CSV files in tournaments_tables directory
csv_dir = os.path.join(os.getcwd(), "ExtractMatchData", "tournaments_tables")
csv_files = [f for f in os.listdir(csv_dir) if f.endswith('.csv')]

# Dictionary to store column names for each table
table_columns = {}

# Read column names from each CSV file
for csv_file in csv_files:
    # Get table name without .csv extension
    table_name = csv_file.replace('.csv', '')
    
    # Read CSV file
    df = pd.read_csv(os.path.join(csv_dir, csv_file))
    
    # Store column names
    table_columns[table_name] = list(df.columns)
    
    print(f"\nColumns in {table_name}:")
    print(table_columns[table_name])

Columns in clutches:
['round', 'won', 'steamid', 'name', 'survived', 'kill_count', 'match_checksum', 'tournament']

Columns in kills:
['round', 'killer_name', 'killer_steamid', 'killer_team_name', 'victim_name', 'victim_steamid', 'victim_side', 'victim_team_name', 'weapon_name', 'headshot', 'victim_x', 'victim_y', 'victim_z', 'is_trade_kill', 'match_checksum', 'tournament']

Columns in matches:
['checksum', 'demo_name', 'date', 'source', 'map', 'kill_count', 'assist_count', 'death_count', 'tournament', 'match_id', 'unique_name']

Columns in players:
['name', 'steamid', 'team_name', 'kills', 'assists', 'deaths', 'headshots', 'hs_percentage', 'kd', 'kast', 'avg_damages_per_round', 'avg_kills_per_round', 'avg_death_per_round', 'utility_damage_per_round', 'win_count', 'health_damage', 'armor_damage', 'utility_damage', 'first_kill', 'first_death', 'trade_kill', 'trade_death', 'first_trade_kill', 'first_trade_death', 'k_1', 'k_2', 'k_3', 'k_4', 'k_5', 'htlv_2', 'htlv', 'crosshair_share_code', 'match_checksum', 'tournament']

Columns in players_economy:
['steamid', 'name', 'player_side', 'equipment_value', 'type', 'round', 'match_checksum', 'tournament']

Columns in teams:
['name', 'team', 'match_checksum', 'tournament']

Columns in tournaments:
['url_match', 'url_event', 'tournament', 'nspc_tournament', 'match_id', 'match_format', 'match_date', 'team_1', 'team_1_result', 'team_2', 'team_2_result', 'event_id', 'demo_path', 'output_data_path', 'unique_name']

In [ ]:
import pymysql

connection = pymysql.connect(
    host='localhost',
    user='root',
    password='root',
    cursorclass=pymysql.cursors.DictCursor
)

try:
    with connection.cursor() as cursor:
        cursor.execute("CREATE DATABASE IF NOT EXISTS dbcs2;")
        cursor.execute("USE dbcs2;")

        tables = {
            "clutches": """
                CREATE TABLE IF NOT EXISTS clutches (
                    round INT,
                    won BOOLEAN,
                    steamid BIGINT,
                    name VARCHAR(255),
                    survived BOOLEAN,
                    kill_count INT,
                    match_checksum VARCHAR(255),
                    tournament VARCHAR(255),
                    PRIMARY KEY (round, steamid, match_checksum)
                )""",
            "matches": """
                CREATE TABLE IF NOT EXISTS matches (
                    checksum VARCHAR(255) PRIMARY KEY,
                    date DATE,
                    source VARCHAR(255),
                    map VARCHAR(255),
                    kill_count INT,
                    assist_count INT,
                    death_count INT,
                    tournament VARCHAR(255)
                )""",
            "players": """
                CREATE TABLE IF NOT EXISTS players (
                    name VARCHAR(255),
                    steamid BIGINT PRIMARY KEY,
                    team_name VARCHAR(255),
                    kills INT,
                    assists INT,
                    deaths INT,
                    headshots INT,
                    hs_percentage FLOAT,
                    kd FLOAT,
                    kast FLOAT,
                    avg_damages_per_round FLOAT,
                    avg_kills_per_round FLOAT,
                    avg_death_per_round FLOAT,
                    utility_damage_per_round FLOAT,
                    win_count INT,
                    health_damage INT,
                    armor_damage INT,
                    utility_damage INT,
                    first_kill INT,
                    first_death INT,
                    trade_kill INT,
                    trade_death INT,
                    first_trade_kill INT,
                    first_trade_death INT,
                    k_1 INT,
                    k_2 INT,
                    k_3 INT,
                    k_4 INT,
                    k_5 INT,
                    htlv_2 FLOAT,
                    htlv FLOAT,
                    crosshair_share_code VARCHAR(255),
                    match_checksum VARCHAR(255),
                    tournament VARCHAR(255)
                )""",
            "players_economy": """
                CREATE TABLE IF NOT EXISTS players_economy (
                    steamid BIGINT,
                    name VARCHAR(255),
                    player_side VARCHAR(50),
                    equipment_value INT,
                    type VARCHAR(255),
                    round INT,
                    match_checksum VARCHAR(255),
                    tournament VARCHAR(255),
                    PRIMARY KEY (steamid, round, match_checksum)
                )""",
            "teams": """
                CREATE TABLE IF NOT EXISTS teams (
                    name VARCHAR(255),
                    team VARCHAR(255),
                    match_checksum VARCHAR(255),
                    tournament VARCHAR(255),
                    PRIMARY KEY (name, match_checksum)
                )""",
            "tournaments": """
                CREATE TABLE IF NOT EXISTS tournaments (
                    url_match VARCHAR(255),
                    url_event VARCHAR(255),
                    tournament VARCHAR(255),
                    nspc_tournament VARCHAR(255),
                    match_id VARCHAR(255),
                    match_format VARCHAR(255),
                    match_date DATE,
                    team_1 VARCHAR(255),
                    team_1_result INT,
                    team_2 VARCHAR(255),
                    team_2_result INT,
                    event_id VARCHAR(255),
                    demo_path VARCHAR(255),
                    output_data_path VARCHAR(255),
                    PRIMARY KEY (match_id)
                )"""
        }

        for table, query in tables.items():
            cursor.execute(query)
            print(f"Table {table} created successfully.")

    connection.commit()

    # Insert DataFrames into MySQL
    dataframes = {
        'tournaments': tournaments_df,
        'matches': matches_df,
        'teams': teams_df,
        'players': players_df,
        'players_economy': players_economy_df,
        'clutches': clutches_df
    }

    with connection.cursor() as cursor:
        for table, df in dataframes.items():
            if not df.empty:
                columns = ", ".join(df.columns)
                placeholders = ", ".join(["%s"] * len(df.columns))
                update_stmt = ", ".join([f"{col} = VALUES({col})" for col in df.columns])
                query = f"""
                    INSERT INTO {table} ({columns}) 
                    VALUES ({placeholders})
                    ON DUPLICATE KEY UPDATE {update_stmt};
                """
                
                cursor.executemany(query, df.values.tolist())
                print(f"Inserted data into {table} successfully.")
    
    connection.commit()
finally:
    connection.close()

In [ ]:
tournaments_df.head()